div {
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    background-color: rgb(238, 243, 247);
}

.button {
    background-color: #4CAF50;
    border: 2px;
    color: white;
    padding: 20px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
    margin: 4px 15px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
}

.buttonblu {
    background-color: white;
    color: rgb(100, 100, 100);
}

.buttonblu:hover {
    background-color: #00bfff;
    color: white;
}

.buttonblk {
    background-color: white;
    color: rgb(100, 100, 100);
}

.buttonblk:hover {
    background-color: #ff0000;
    color: white;
}

.buttongame1 {
    background-color: rgb(216, 216, 216);
    padding: 10px 10px;
    font-size: 20px;
    color: rgb(66, 66, 66);
}

.buttongame1:hover {
    background-color: rgb(100, 100, 100);
    color: white;
}

.buttongame2 {
    border: rgb(100, 100, 100);
    background-color: rgb(100, 100, 100);
    color: rgb(255, 255, 255);
}

.buttongame2:hover {
    background-color: rgb(255, 202, 202);
    color: rgb(71, 71, 71);
}